# Vercel
BLOB_READ_WRITE_TOKEN=your_vercel_blob_token_here

# Upstash Redis
KV_REST_API_READ_ONLY_TOKEN=your_kv_readonly_token_here
KV_REST_API_TOKEN=your_kv_token_here
KV_REST_API_URL=your_kv_url_here
KV_URL=your_redis_url_here
REDIS_URL=your_redis_url_here

# Spotify
SPOTIFY_CLIENT_ID=your_spotify_client_id_here
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here
SPOTIFY_REFRESH_TOKEN=your_spotify_refresh_token_here