@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-familjen-grotesk), sans-serif;
  --font-mono: var(--font-jetbrains-mono), monospace;
}

@theme {
  --color-ground: #efebe4;
  --color-ink: #1d1d1b;
}
