@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-molten: #ff0000;
  --color-lime: #bbdb06;
  --color-charcoal: #100c0b;
  --font-sans: var(--font-helvetica-neue);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #ffffff;
  color: var(--foreground);
}

/* Underline animation effect */
.underline-animate {
  @apply relative;
}

.underline-animate::after {
  content: "";
  @apply absolute bottom-0 left-0 w-full h-px bg-molten origin-right scale-x-0 transition-transform duration-400 ease-out;
}

.group:hover .underline-animate::after {
  @apply origin-left scale-x-100;
}
